/* components/NavBar.module.css */

.nav {

    display: flex;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    /* border-radius: 20px; */
    border:1px 0px solid rgba(255, 255, 255, 0.18); 
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    /* background: rgb(0, 42, 70); */
    /* background: black; */
  
  /* this is to make the nav bar transparant */
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  
    background-color: transparent;
  }
.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-list li {
    display: inline;
    margin-right: 20px; /* Adjust the spacing between links */
  }
  
  .nav-list li:last-child {
    margin-right: 0; /* Remove margin from the last item */
  }
  
  .nav-list a {
    text-decoration: none;
    color: #333; /* Set link text color */
    font-weight: bold; /* Make link text bold */
  }
  
  .nav-list a:hover {
    color: #0070f3; /* Change link text color on hover */
  }
  